.navbar {
    padding: 0.5rem;
    background-color: #a0d7f7;
}
.navbar .container {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h1 {
    font-size: 2.2rem;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
